/*------------------------------------*\
  # ELEMENTS
\*------------------------------------*/

	/*------------------------------------*\
	## BUTTONS
    \*------------------------------------*/
    
    .#{$prefix}button {
        border-radius: 2rem;
        padding: 1rem 2rem;
        outline: transparent;
        cursor: pointer;
        border: none;


         /**
        * PRIMARY BUTTON
        */

        &--primary {
            background-image: linear-gradient(-90deg, var(--blue-3), var(--blue-3));
            color: var(--white, white);

            &:hover, &:focus {
                background-image: linear-gradient(-90deg, var(--blue-3), var(--blue-2));
            }
        }


        /**
        * BUTTON OVER INPUT TYPE TEXT
        */

        &--input {
            margin-left: -2rem;
        }
    }




    /*------------------------------------*\
	## INPUTS
    \*------------------------------------*/

        /**
        * TYPE TEXT
        */

        .input--text {
            border: 1px solid var(--gray-light-2);
            border-radius: 0.3rem;
            outline: transparent;
            transition: all 0.3s;
            padding: 1rem;

            &:hover, &:focus {
                border: 1px solid var(--blue-3);
            }
        }

