/*------------------------------------*\
  # GRID
\*------------------------------------*/

*, ::after, ::before {
    box-sizing: border-box;
}


    /*------------------------------------*\
    ## CONTAINERS
    \*------------------------------------*/

    .#{$prefix}container,
    .#{$prefix}container-fluid {
        margin-right: auto;
        margin-left: auto
    }

    .#{$prefix}container {
        max-width: $widthContainer;
    }

    .#{$prefix}container-fluid {
        width: 100%;
    }


        /*------------------------------------*\
        ### ROWS
        \*------------------------------------*/

        .#{$prefix}row {
            display: flex;
            flex-wrap: wrap;
        }


            /*------------------------------------*\
            #### COLUMNS
            \*------------------------------------*/

            /**
            * EXTRA SMALL (XS)
            */

            [class*="col-"] {
                padding: .5rem;
            }

            .#{$prefix}col-xs {
                flex-grow: 1;
                flex-basis: 0;
                max-width: 100%
            }

           @include gridGenerator($breakpoint: 'xs', $offset: true, $ordering: true);


            /**
            * SMALL (SM), MEDIUM (MD), LARGE (LG)
            */

            @include sm {
               @include gridGenerator($breakpoint: 'sm', $offset: true, $ordering: true);
            }
            
            @include md {
               @include gridGenerator($breakpoint: 'md', $offset: true, $ordering: true);
            }
           
            @include lg {
               @include gridGenerator($breakpoint: 'lg', $offset: true, $ordering: true);
            }

        
        /*------------------------------------*\
        ### ROW REVERSING
        \*------------------------------------*/

        .#{$prefix}row.#{$prefix}row-reverse {
            flex-direction: row-reverse;
        }