:root {
    --black: #000;
    --white: #FFF;
    --gray-light-1: #FAFAFA;
    --gray-light-2: #EFEFEF;
    --gray-light-3: #dddddd;
    --gray-1: #999999;
    --gray-2: #888888;
    --gray-3: #666666;
    --gray-dark-1: #444444;
    --gray-dark-2: #333333;
    --gray-dark-3: #111111;
    --blue-1: #408bfc;
    --blue-2: #0062ff;
    --blue-3: #054ada;

    --font-size: 13px;
    --line-height: 1.5;
}

body {
    background-color: var(--white, white);
    font-size: var(--font-size, 13px);
    line-height: var(--line-height);
    overflow-wrap: break-word;
    font-family: sans-serif, arial;
    color: var(--gray-3, gray);
    font-weight: lighter;
}

    a {
        color: var(--blue-3, blue);
        text-decoration: none;
        transition: all 0.3s;
        display: inline;
    }

        a.button {
            display: inline-block;
        }