/*------------------------------------*\
  # WIDTHS
\*------------------------------------*/

.#{$prefix}fullwidth {
	width: 100%;
}



/*------------------------------------*\
  # IMAGE SIZE
\*------------------------------------*/

.#{$prefix}resize {
	height: auto;
	width: 100%;
}

.#{$prefix}downsize {
    max-width: 100%;
	height: auto;
}